@charset "utf-8";
/*CSS Document */

h1{
	color:#C03;
	font-weight:bold;
	text-align:center;
	
}
p {
	color:#303;
	font-family:"Verdana, Arial";
	font-size:24px;
	text-align:center;
	line-height:60px;
}
body{
	background:#99C;
	color:#303;
	font-family:"Verdana, Arial, Georgia";
	font-size:22px;
	text-align:center;
	line-height:30px;
}
table,td {
	border: 1px solid black;
}

	

.titulo {
	font-size: 36px;
	color: #C09;
	font-weight: bold;
}
.filas {
	color: #FFF;
}
